.containerL{
    border: 25px;
    border-radius: 25px;
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    background-color: #0087BD;
    margin-top: 160px;
 }

 .form-inputL input[name="username"]{
    border-radius: 25px;
    border: 2px solid #224C98;
    background-color: seashell;
    padding: 20px; 
    color: black;
    font-size: medium;
    margin-top: 110px;
    height: 45px;
    width: 300px;
}

.form-inputL textarea[name="report"]{
    border-radius: 25px;
    border: 2px solid #224C98;
    background-color: seashell;
    padding: 20px; 
    color: black;
    font-size: medium;
    margin-top: 10px;
    height: 200px;
    width: 300px;
    margin-left: 85px;
}

.form-inputL input[name="password"]{
    border-radius: 25px;
    border: 2px solid #224C98;
    padding: 20px; 
    background-color: seashell;
    font-size: 20px;
    color: black;
    font-size: medium;
    margin-top: 10px;
    height: 45px;
    width: 300px;
}
.form-inputL input[name="username"]:focus{
    outline: none;
}
.form-inputL input[name="password"]:focus{
    outline: none;
}

.heading{
    margin-top: 50px;
    margin-bottom: -10px;
    text-align: center;
    color: seashell;
}

.btn-loginL{
    margin-top : 30px;
    padding: 15px 65px;
    border: 25px;
    border-radius: 25px;
    background-color: seashell;
    
    font-size: 20px;
    color: #224C98;
}
.btn-loginL:hover{
    background-color: 	#AFDBF5;
    color: #224C98;
}

.register-linkL{
    margin-top: 10px;
}
.link{
    font-size: 20px;
}
.link{
    color: white;
}
.link:visited{
    color: white;
}
.link:hover{
    color: #AFDBF5;
}

