
.Login-component {
    
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Header1{
    text-align: left,
}

.title{
    text-align: center,
}